@using System
@model CatalogPagingFilteringModel.SpecificationFilterModel
@{
    var notFilteredItemsGroups = Model.NotFilteredItems.GroupBy(x=>x.SpecificationAttributeName);
}

@functions {

    public void SpecTree(List<CatalogPagingFilteringModel.SpecificationFilterItem> roots,
        IEnumerable<CatalogPagingFilteringModel.SpecificationFilterItem> group )
    {
        @foreach (var root in roots)
            {
                <b-col>
                    <b-button v-b-toggle="'@root.Id'" size="sm">
                        <b-form-checkbox>
                            @root.SpecificationAttributeOptionName
                        </b-form-checkbox>
                    </b-button>
                        <b-collapse id="@root.Id" class="mt-2">
                            @{
                                var children = group.Where(g => g.SpecificationAttributeOptionParentSpecificationAttrOptionId == root.Id).ToList();
                            }
                            @foreach (var child in children.GroupBy(sp => sp.SpecificationAttributeOptionName).Select(gr => gr.First()))
                            {
                                var childrenOfChild =
                                        group.Where(c => c.SpecificationAttributeOptionParentSpecificationAttrOptionId == child.Id).ToList();
                                
                                @if(childrenOfChild.Any())
                                {
                                    SpecTree(new List<CatalogPagingFilteringModel.SpecificationFilterItem>{child}, childrenOfChild);
                                    continue;
                                }
                         
                                @if (String.IsNullOrEmpty(child.SpecificationAttributeOptionColorRgb))
                                {
                                    <b-button size="sm" variant="light" class="mb-1 mr-1" href="@child.FilterUrl">
                                        @child.SpecificationAttributeOptionName
                                    </b-button>
                                }
                                else
                                {
                                    <b-button size="sm" variant="light" class="color-container mb-1 mr-1" href="@child.FilterUrl">
                                        <span class="color" title="@child.SpecificationAttributeOptionName" style="background-color: @(child.SpecificationAttributeOptionColorRgb);">&nbsp;</span>
                                    </b-button>
                                }

                            }
                        </b-collapse></b-col>
                     }
                 }

                }

@if (Model.Enabled)
{
    <div id="block-product-spec-filter" class="block product-filter product-spec-filter">
        @*<h2 class="h5">
            <strong>@T("Filtering.SpecificationFilter")</strong>
        </h2>*@
        @if (Model.AlreadyFilteredItems.Any())
        {
            <b-card header="@T("Filtering.SpecificationFilter.CurrentlyFilteredBy")" header-tag="h6" class="filtered-items mb-3">
                <ul class="p-0 mb-0">
                    @{
                        var group = Model.AlreadyFilteredItems.GroupBy(x => x.SpecificationAttributeName);
                    }
                    @foreach (var item in group)
                    {
                        
                         var groupList = item.ToList();
                        
                        <li class="item">
                            <div class="mb-2">
                                <strong>@groupList[0].SpecificationAttributeName:</strong>
                            </div>
                            @{
                                var groupList2 = item.ToList();
                            }
                            <div class="d-inline-flex flex-wrap w-100">
                                @foreach (var spec in groupList)
                                {
                                    <b-link class="d-flex align-items-center mr-2 mb-2 pb-0" href="@spec.FilterUrl"> @spec.SpecificationAttributeOptionName<b-icon class="ml-2 text-danger" icon="x-circle-fill"></b-icon></b-link>
                                }
                            </div>
                        </li>
                    }
                </ul>
                <div class="remove-filter">
                    <b-button size="sm" variant="danger" href="@Model.RemoveFilterUrl">
                        @T("Filtering.SpecificationFilter.Remove")
                    </b-button>
                </div>
            </b-card>
        }
        <div class="filter-content viewBox">
            @if (Model.NotFilteredItems.Any())
            {
                var index = 0;
                <div class="available-items">
                    @foreach (var group in notFilteredItemsGroups)
                    {
                        index++;
                        var groupList = group.ToList();
                        <b-col cols="12" class="px-0">
                            <ul class="group product-spec-group">
                                <b-button v-b-toggle="'@groupList[0].SpecificationAttributeName'" size="sm">
                                    <li class="title">
                                        <h6>@groupList[0].SpecificationAttributeName:</h6>
                                    </li>
                                </b-button>
                                <b-collapse id="@groupList[0].SpecificationAttributeName" class="mt-2">
                                    <li>
                                        @{
                                            var roots 
                                                = group.Where(g => g.SpecificationAttributeOptionParentSpecificationAttrOptionId == null)
                                                    .ToList();
                                            SpecTree(roots, group);
                                        }
                                    </li>
                                 </b-collapse>
                            </ul>
                        </b-col>
                    }
                </div>
            }
        </div>
    </div>
}