@model CustomerAdListModel.AdDetailsModel
@{
    <b-card header-tag="header"  footer-tag="footer" class="ads-item mb-3 @((Model.IsCancel) ? "cancel" : "")">
        <template v-slot:header>
            <div class="ad-title-gr">
                <div class="title d-inline-flex align-items-center w-100">
                    <h3 class="vendor-title" itemprop="name" align="center">@Model.ProductName</h3>
                </div>

                <div class="price align-items-end flex">
                    <span class="vendor-title" itemprop="name" align="center">@Model.AdTotal</span>
                </div>
            </div>
            <div class="id-ad">
                Id:
                <span> @Model.AdNumber </span>
            </div>
        </template>
        <div class="review-title mb-3">
        </div>
        <div class="justify-content-left">
            <div class="rounded-photo">
                <b-card-img fluid-grow="true" fluid="true" id="main-product-img-@Model.Id"
                            alt="@Model.PictureModel.AlternateText"
                            src="@Model.PictureModel.ImageUrl" class="rounded-0"></b-card-img>
            </div>
        </div>
        <div class="justify-content-right">
            @*<div class="title d-inline-flex align-items-center w-100">
                    <h3 class="vendor-title" itemprop="name" align="center">@Model.ProductName</h3>
                </div>*@
            <div class="review-info d-inline-flex w-100">
                @*<b-icon icon="calendar2-check" variant="info" class="mx-2"></b-icon>*@
                <small class="date text-muted">
                    <span> @T("Account.CustomerAds.AdDateFrom"):</span>
                    <span> @Model.CreatedOn.ToString("d")</span>
                </small>
            </div>
            <small class="date text-muted">
                <span> @T("Account.CustomerAds.AdDateTo"):</span>
                <span> @Model.EndDateTimeUtc.ToString("d") </span>
            </small>
            <div class="user d-inline-flex align-items-center w-100">
                <span>@T("Account.CustomerAds.AdStatus"):</span> <span class="ad-status @Model.AdStatusEnum.ToString().ToLowerInvariant()">@Model.AdStatus</span>
                <span>@T("Account.CustomerAds.AdNumber"):</span> <span class="ad-number @Model.AdNumber.ToString().ToLowerInvariant()">@Model.AdNumber</span>
            </div>
            <div class="review-content">
                <div class="review-text">
                    @Html.Raw(Grand.Core.Html.HtmlHelper.FormatText(Model.AdComment))
                </div>
            </div>
        </div>

        <template v-slot:footer>
            @if (Model.IsOpenFromMenu)
            {
                <input v-b-tooltip.hover.bottom title="@T("Account.CustomerAds.AdEditTitle")" type="button" value="@T("Account.CustomerAds.AdEdit")" class="btn btn-secondary ad-details-button" onclick="location = ('@Url.RouteUrl("EditAd", new { adId = Model.Id })')" />
            }

            <input v-b-tooltip.hover.bottom title="@T("Account.CustomerAds.AdDetailsTitle")" type="button" value="@T("Account.CustomerAds.AdDetails")" class="btn btn-secondary ad-details-button" onclick="location = ('@Url.RouteUrl("ViewAd", new { adId = Model.Id })')" />
            @if (Model.IsOpenFromMenu)
            {
                <input v-b-tooltip.hover.bottom title="@T("Account.CustomerAds.AdCancleTitle")" type="button" value="@T("Account.CustomerAds.AdCancle")" class="btn btn-secondary ad-cancle-button" onclick="location = ('@Url.RouteUrl("CancelAd", new { adId = Model.Id })')" />
                @*<input type="button" value="@T("Account.CustomerAds.AdDelete")" class="btn btn-secondary ad-delete-button" onclick="location = ('@Url.RouteUrl("DeleteAd", new { adId = Model.Id })')" />*@
                <b-button ref="submit" type="submit" :disabled="busy" v-on:click="clickOnDelete('@Url.RouteUrl("DeleteAd", new { adId = Model.Id })')"  >@T("Account.CustomerAds.AdDelete")</b-button>
                <b-modal v-model="busy" hide-header no-wrap>
                    <template #default="{  }">
                        @T("Account.CustomerAds.ConfirmDelete")
                    </template>
                    <template #modal-footer="{ ok, cancel }">
                        <b-row>
                            <!-- Emulate built in modal footer ok and cancel button actions -->
                            <b-button variant="outline-primary" class="mr-3" v-on:click="busy = false">
                                @T("Account.CustomerAds.Cancel")
                            </b-button>
                            <b-button variant="danger" v-on:click="location = idtoremove">
                                @T("Account.CustomerAds.Ok")
                            </b-button>
                            <!-- Button with custom close trigger value -->
                        </b-row>
                    </template>
                </b-modal>
                <input type="button" value="@(T("Account.CustomerAds.AdMessages")+" ("+Model.CountMsg.ToString()+")")" class="btn btn-secondary ad-message-button" onclick="location = ('@Url.RouteUrl("MessagesAd", new { adId = Model.Id })')" />
            }
        </template>
    </b-card>
}
