@model ProductDetailsModel
@using Grand.Framework.Themes
@using Grand.Framework.UI
@inject IWorkContext workContext
@inject IThemeContext themeContext
@inject IPageHeadBuilder pagebuilder

@{
    var themeName = themeContext.WorkingThemeName;
    pagebuilder.AppendScriptParts(ResourceLocation.Head, string.Format("~/Themes/{0}/Content/script/vue-gallery-slideshow.min.js", themeName));
}
<b-col class="pl-0">
    @if (Model.PictureModels.Count == 1)
        {
            @if (Model.DefaultPictureZoomEnabled)
            {
                <gallery-images></gallery-images>
                <script>
                    Vue.component('gallery-images', {
                      template: '<div> ' +
                       '<template>' +
                        ' <img class="image main-image zoom" id="main-product-img-@Model.Id" v-for="(image, i) in images" :src="image.url" :alt="image.alt" :title="image.title" :key="i" @@click="index=i"> ' +
                         '<vue-gallery-slideshow :images="images" :index="index" @@close="index=null">' +
                         '</vue-gallery-slideshow> </template> </div>',
                      data() {
                          return {
                              images: [
                                @foreach (var picture in Model.PictureModels)
                                {
                                    if (Model.PictureModels.First() == picture)
                                    {
                                        <text>
                                            { url: '@picture.ImageUrl', fullimg: '@picture.FullSizeImageUrl', alt:'@picture.AlternateText', title: '@picture.Title' },
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                    { url: '@picture.ImageUrl', fullimg: '@picture.FullSizeImageUrl', alt:'@picture.AlternateText', title: '@picture.Title' },
                                        </text>
                                    }

                                }
                                ],
                                index: null
                          }
                      },
                      components: {
                            VueGallerySlideshow
                      },
                    });
                </script>

            }
            else
            {
                <img id="main-product-img-@Model.Id" class="image main-image"
                     src="@Model.DefaultPictureModel.ImageUrl"
                     alt="@Model.DefaultPictureModel.AlternateText"
                     title="@Model.DefaultPictureModel.Title" />
            }
        }
        @if (Model.PictureModels.Count == 0)
        {
            <img id="main-product-img-@Model.Id" class="image main-image"
                 src="@Model.DefaultPictureModel.ImageUrl"
                 alt="@Model.DefaultPictureModel.AlternateText"
                 title="@Model.DefaultPictureModel.Title" />
        }
        @if (Model.DefaultPictureZoomEnabled)
        {
            @if (Model.PictureModels.Count > 1)
            {
                <b-row>
                    <b-col md="10" offset-md="1">
                    <b-carousel fade ref="bigimgcarousel" id="carousel">
                        @foreach (var picture in Model.PictureModels)
                        {
                            <b-carousel-slide>
                                <img  v-on:click="onzoom(1)" class="item" slot="img" src="@picture.ImageUrl" alt="" style='width: 100%; object-fit: contain'/>
                            </b-carousel-slide>
                        }
                    </b-carousel>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="1" align-self="center" class="mt-4" >
                        <img v-on:click="onprevslide" class="scroll-btn" width="20" height="20" src="/Themes/VueThemeBike/Content/images/previmg.svg" alt=""/>
                    </b-col>
                    <b-col md="10">
                        <b-carousel ref="tmbcarousel" id="carousel-thumbs" class="mt-4 carousel">
                            @{
                                var itemsPerSlide = 3;
                                var numSlides = Math.Ceiling((decimal) Model.PictureModels.Count / itemsPerSlide);
                                var imgNumber = 0;
                                @for (var slideNumber = 0; slideNumber < numSlides; slideNumber++)
                                {
                                    var imgs = Model.PictureModels
                                        .Skip(itemsPerSlide * slideNumber)
                                        .Take(itemsPerSlide);

                                    <b-carousel-slide>
                                        <b-row slot="img">
                                            @foreach (var img in imgs)
                                            {
                                                <b-col md="4">
                                                <img v-on:click="setslide(@imgNumber)" src="@img.ThumbImageUrl" class="img-carousel-thumbnail small-item" alt="..." style='width: 100%; object-fit: cover'>
                                                </b-col>
                                                imgNumber++;
                                            }
                                        </b-row>
                                    </b-carousel-slide>
                                }
                            }

                        </b-carousel>
                    </b-col>
                         <b-col md="1" align-self="center" class="mt-4">
                         <img v-on:click="onnextslide" class="scroll-btn" width="20" height="20" src="/Themes/VueThemeBike/Content/images/nextImg.svg" alt=""/>
                         </b-col>
                     </b-row>
                <gallery-images v-if="this.pictureToZoom>0" v-bind:picturenum="this.pictureToZoom"></gallery-images>
                <script>
                
                    Vue.component('gallery-images', {
                          props: ['picturenum'],
                          template: '<div><template><div><vue-gallery-slideshow :images="images" :index="this.picturenum" @@close="index = null"></vue-gallery-slideshow></div></template></div>',
                          data() {
                              return {
                                    images: [
                                        @foreach (var picture in Model.PictureModels)
                                        {
                                            if (Model.PictureModels.First() == picture)
                                            {
                                                <text>
                                                    { url: '@picture.FullSizeImageUrl', fullimg: '@picture.FullSizeImageUrl', alt:'@picture.AlternateText', title: '@picture.Title' },
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                            { url: '@picture.ImageUrl', fullimg: '@picture.FullSizeImageUrl', alt:'@picture.AlternateText', title: '@picture.Title' },
                                                </text>
                                            }

                                        }
                                    ],
                                    index: this.picturenum
                                }
                          },
                          components: {
                                VueGallerySlideshow
                          },
                    });
                </script>
            }
        }
        else
        {
            @if (Model.PictureModels.Count > 1)
            {
                <img id="main-product-img-@Model.Id" class="image main-image"
                     src="@Model.DefaultPictureModel.ImageUrl"
                     alt="@Model.DefaultPictureModel.AlternateText"
                     title="@Model.DefaultPictureModel.Title" />
                <div>
                    @foreach (var picture in Model.PictureModels)
                    {
                        <img class="image thumb-image"
                             src="@picture.ThumbImageUrl"
                             alt="@picture.AlternateText"
                             title="@picture.Title"
                             data-src="@picture.ImageUrl"
                             @@click="Gallery.extendOptions.methods.changeImg($event)" />
                    }
                </div>
                <script>
                    var Gallery = Vue.extend({
                        methods: {
                            changeImg(event) {
                                var img = event.srcElement.getAttribute('data-src');
                                var mainImg = document.getElementById('main-product-img-@Model.Id');
                                mainImg.setAttribute('src', img);
                            }
                        }
                    })
                    var gallery = new Gallery();
                </script>
            }
        }
</b-col>