@model ProductDetailsModel
@using System.Linq;

<div class="product-collateral">
    <div>
        <!--associated products-->
        @foreach (var variant in Model.AssociatedProducts)
        {
            @if (variant.VendorModel == null)
            {
                continue;

            }

            <b-card no-body class="row associatedItem mb-3">
                <div class="justify-content-left @(variant.IsAd ? "isad" : "")" >
                    <div class="rounded-photo">
                        <a href="@variant.Url">
                            <b-card-img fluid-grow="true" fluid="true" id="main-product-img-@variant.Id"
                                        alt="@variant.VendorModel.PictureModel.AlternateText"
                                        src="@variant.VendorModel.PictureModel.ImageUrl" class="rounded-0"></b-card-img>
                        </a>
                    </div>
                    <div class="rating">
                        @{
                            decimal ratingValue = 0;
                            var reviesCount = variant.VendorModel.ApprovedTotalReviews + variant.VendorModel.NotApprovedTotalReviews;

                            if (reviesCount != 0)
                            {
                                var ratingSum = variant.VendorModel.ApprovedRatingSum + variant.VendorModel.NotApprovedRatingSum;
                                ratingValue = Convert.ToDecimal(((ratingSum * (double)100) / reviesCount) / (double)100);
                            }
                        }
                        <b-form-rating id="rating-inline-grid-@Model.Id" aria-label="Rating" class="p-0" variant="warning" no-border size="sm" readonly inline value="@(ratingValue)" color="#F15A24"></b-form-rating>
                        <b-link href="@Url.RouteUrl("Vendor", new {SeName = variant.VendorModel.SeName})">@string.Format("({0})", variant.VendorModel.ApprovedTotalReviews)</b-link>

                    </div>
                </div>
                <div class="card-body">


                </div>
                <div class="justify-content-right">
                    <div class="justify-content-center title">
                        <a href="@(variant.IsAd ? Url.RouteUrl("ViewAd", new { adId = variant.AdId }) : variant.Url)">
                            <h3 class="vendor-title" itemprop="name" align="center">@variant.VendorModel.Name</h3>
                        </a>
                    </div>
                    <div class="justify-content-center vendor-content">

                        @if (@variant.VendorModel.VendorSpecificationAttributes.Any())
                        {
                            <div class="vendor-spec">
                                <div class="spec-container">

                                    @{
                                        var group = @variant.VendorModel.VendorSpecificationAttributes.GroupBy(x => x.SpecificationAttributeName);
                                    }

                                    @foreach (var item in group)
                                    {
                                        <div class="vendor-spec-row">
                                            <div class="vendor-spec-name">
                                                @{
                                                    var groupList = item.ToList();
                                                }
                                                @groupList[0].SpecificationAttributeName:
                                            </div>
                                            <div class="vendor-spec-value">
                                                @foreach (var spec in groupList)
                                                {
                                                    <a href="@spec.DetailsUrl">
                                                        <span>
                                                            @Html.Raw(spec.ValueRaw)
                                                        </span>
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="justify-content-bottom vendor-adress">
                        <div class="vendor-adress-list">
                            <div class="vendor-adress-label">
                                @T("Vendor.StoreAdresses")
                            </div>
                            <div class="adress-list">
                                @foreach (var addrs in variant.VendorModel.Addresses)
                                {
                                    <div class="vendor-adress-1">
                                        @(T("Vendor.CityNameAttribute")+" "+addrs.City + ", " + addrs.Address1)
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <b-col lg="3" md="4" class="prices align-self-center justify-content-prices">
                        <b-button-group>
                            <b-button v-b-tooltip.hover.bottom title="@T("VendorCard.ViewMessages")" class="btn btn-secondary" onclick="location = ('@Url.RouteUrl("ViewAdPM", new { AdId = variant.AdId, toCustomerId = variant.CustomerOwnerId })')">
                                <b-icon icon="envelope"></b-icon>
                                <span class="sr-only">ViewMessages</span>
                            </b-button>
                            <b-button v-b-tooltip.hover.bottom title="@T("ShoppingCart.AddToWishlist")" class="btn btn-secondary" onclick="location = ('@Url.RouteUrl("ViewAdPM", new { AdId = ""@*variant.AdId*@, toCustomerId = ""@*variant.FromCustomerId*@ })')">
                                <b-icon icon="heart"></b-icon>
                                <span class="sr-only">AddToWishlist</span>
                            </b-button>
                        </b-button-group>
                        @{
                            var dataDictPrice = new ViewDataDictionary(ViewData);
                            dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", variant.Id);
                            <a href="@variant.Url">
                                <span class="vendor-price">@Html.Raw(variant.ProductPrice.Price)</span>
                            </a>

                            <span class="vendor-old-price">@Html.Raw(variant.ProductPrice.OldPrice)</span>

                            <span v-b-tooltip.hover.bottom title="@T("Vendor.PriceUpdate")" class="vendor-update-date">@Html.Raw(variant.UpdatedOnUtc.Value.ToString())</span>

                            <span class="vendor-avaliable">
                                @{
                                    var avalible = variant.ProductSpecifications.FirstOrDefault(a => a.SpecificationAttributeCode == "sp_available");
                                }
                                @avalible?.ValueRaw
                            </span>
                        }
                    </b-col>
                </div>
            </b-card>
        }

        @if (Model.AssociatedProducts.Count == 0)
        {
            <div class="no-associated-products">
                @T("Products.NoAssociatedProducts")
            </div>
        }
    </div>
</div>