@model ProductDetailsModel
@{
    //prepare "Add to cart" Axios link
  
    string addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = 1});
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
<b-container class="position-relative">
 <b-row>
     <b-col>
         <partial name="_ProductDetailsPictures" model="Model"/>
     </b-col>
     <b-col>
         <b-row class="mb-4">
             <div class="actual-price details-price">
                 @Model.ProductPrice.Price
             </div>
         </b-row>
         @if (Model.ProductSpecifications.Any())
         {
             <b-row class="mb-4">
                 <div class="spec-container">
                     @{
                         var group = Model.ProductSpecifications.Where(atr => atr.ShowOnProductMainPage).GroupBy(x => x.SpecificationAttributeName);
                     }
                     <table>
                         <tbody>
                         @foreach (var item in group)
                         {
                             <tr class="spec">
                                 <td>
                                     <div class="product-des-spec-key">
                                         @{
                                             var groupList = item.ToList();
                                         }
                                         @groupList[0].SpecificationAttributeName:
                                     </div>
                                 </td>
                                 <td>
                                     @{
                                         var groupList2 = item.ToList();
                                     }
                                     <div class="product-des-spec-value">
                                         @foreach (var spec in groupList)
                                         {
                                             <span>
                                                 @Html.Raw(spec.ValueRaw)
                                             </span>
                                         }
                                     </div>
                                 </td>

                             </tr>
                         }
                         </tbody>
                     </table>
                 </div>
            </b-row>
         }
        
         <b-row align-h="between" class="prod-controls mb-4">
             <div class="heart_prod" v-on:click="AxiosCart.addproducttocart_catalog('@addtowishlistlink', 'false', '@Model.Id');return false;">
                 <svg class="heart_icon_prod">
                     <path class="heart_icon_prod" xmlns="http://www.w3.org/2000/svg" d="M5.66287 0.398262C7.88261 -0.31575 10.2845 -0.0588126 12.2943 1.08156L12.627 1.28121L12.9657 1.08044C14.8711 0.00164358 17.1314 -0.286627 19.2585 0.298398L19.5941 0.398336C24.2333 1.89195 26.3105 6.95749 24.7499 11.8044C23.9675 14.0591 22.6843 16.1033 20.9904 17.7883C18.6855 20.0267 16.1447 22.0035 13.417 23.6807L13.1275 23.8607C12.8334 24.0435 12.4618 24.0466 12.1648 23.8688L11.8546 23.6831C9.1232 22.0035 6.58233 20.0267 4.26952 17.7805C2.58359 16.1033 1.30038 14.0591 0.511351 11.7847C-1.04354 6.95455 1.02507 1.89142 5.66287 0.398262ZM11.8417 2.97382C10.1944 1.84786 8.12629 1.54533 6.22931 2.15552C2.63679 3.31215 1.0081 7.29854 2.26367 11.1996C2.95423 13.1896 4.08638 14.9931 5.56524 16.4644C7.77316 18.6087 10.2069 20.5021 12.8135 22.1051L12.6332 21.9914L13.2242 21.6197C15.2874 20.2875 17.2308 18.7758 19.0277 17.1058L19.6947 16.4722C21.1815 14.9931 22.3136 13.1896 22.9976 11.2194C24.2586 7.30227 22.6228 3.31306 19.0283 2.15582C17.0365 1.51683 14.8623 1.88282 13.1823 3.14053C12.8598 3.382 12.4177 3.38667 12.0902 3.15206L11.8417 2.97382ZM17.5203 5.03209C19.1895 5.56486 20.3732 7.05927 20.5209 8.81498C20.5637 9.32299 20.1861 9.76943 19.6777 9.81214C19.1693 9.85484 18.7225 9.47764 18.6797 8.96963C18.5944 7.95541 17.9134 7.0956 16.9581 6.7907C16.4721 6.63557 16.2039 6.11614 16.3592 5.63051C16.5144 5.14489 17.0343 4.87696 17.5203 5.03209Z" fill="#dc3545"/>
                 </svg>
             </div>
             <div class="bt-lbl">
             @T("Add to wishlist")
             </div>
             <div class="swap_prod" v-on:click="AxiosCart.addproducttocomparelist('@addtocomparelink');return false;">
                 <svg class="swap_icon_prod">
                     <path class="swap_icon_prod" xmlns="http://www.w3.org/2000/svg" d="M18.3469 3.65269C18.8122 3.65269 19.1967 4.03243 19.2576 4.52513L19.266 4.6621L19.2658 20.5435L22.6926 16.765C23.0507 16.3699 23.6327 16.3684 23.9925 16.7617C24.3195 17.1193 24.3504 17.68 24.0842 18.0758L23.9955 18.1893L18.9981 23.7029C18.968 23.7354 18.9374 23.7649 18.905 23.7921L18.9981 23.7029C18.9531 23.7526 18.9044 23.7961 18.8531 23.8334C18.8352 23.8456 18.8166 23.8581 18.7976 23.8699C18.78 23.8816 18.762 23.8919 18.7438 23.9014C18.7259 23.9101 18.7077 23.9189 18.6892 23.9271C18.6657 23.9381 18.6416 23.9475 18.6172 23.9557C18.6028 23.9599 18.5881 23.9645 18.5733 23.9686C18.5468 23.9766 18.5202 23.9826 18.4934 23.9873C18.4809 23.9889 18.4678 23.9909 18.4546 23.9926C18.4244 23.9971 18.3944 23.9994 18.3645 24C18.3586 23.9994 18.3527 23.9994 18.3469 23.9994L18.329 24C18.299 23.9994 18.2691 23.9971 18.2393 23.9933L18.3469 23.9994C18.2968 23.9994 18.2476 23.995 18.1998 23.9866C18.1732 23.9826 18.1466 23.9766 18.1203 23.9692C18.1064 23.9647 18.0924 23.9604 18.0785 23.9558C18.0522 23.9477 18.026 23.9375 18.0002 23.926C17.9861 23.9189 17.9725 23.9123 17.959 23.9054C17.9379 23.8955 17.9166 23.8836 17.8958 23.8707C17.877 23.8581 17.8584 23.8456 17.8403 23.8325C17.8262 23.8231 17.8122 23.8124 17.7985 23.8012L17.7887 23.7921C17.7564 23.7649 17.7257 23.7354 17.6969 23.7038L17.6953 23.7029L12.698 18.1893C12.3399 17.7941 12.3412 17.155 12.701 16.7617C13.028 16.4042 13.5387 16.3729 13.8979 16.667L14.0008 16.765L17.4276 20.5462L17.4277 4.6621C17.4277 4.10462 17.8392 3.65269 18.3469 3.65269ZM6.17951 0.000560282L6.19741 0C6.22736 0.00063196 6.25729 0.00286205 6.28708 0.00669027L6.17951 0.000560282C6.22958 0.000560282 6.27872 0.00495744 6.32661 0.0134193C6.35281 0.0173516 6.37911 0.0232949 6.40518 0.0305102C6.4205 0.0354483 6.43613 0.0402639 6.45158 0.045515C6.47571 0.0529872 6.49907 0.06207 6.52212 0.0722199C6.5388 0.0803714 6.55568 0.0884734 6.57228 0.0971058C6.59202 0.106478 6.61145 0.117507 6.63059 0.129348C6.64697 0.140425 6.66319 0.151217 6.67907 0.162532C6.69541 0.173203 6.71178 0.185693 6.72784 0.198832L6.83107 0.297114L11.8284 5.81074C12.1865 6.20585 12.1852 6.84498 11.8254 7.23827C11.4983 7.5958 10.9876 7.62708 10.6284 7.33296L10.5256 7.23497L7.09782 3.45219L7.09864 19.3379C7.09864 19.8954 6.68713 20.3473 6.17951 20.3473C5.71419 20.3473 5.32963 19.9676 5.26877 19.4749L5.26038 19.3379L5.25956 3.45353L1.83373 7.23497C1.50818 7.59416 0.997624 7.62803 0.637186 7.33574L0.533893 7.23827C0.20683 6.88073 0.175985 6.32003 0.442135 5.92418L0.53089 5.81074L5.52822 0.297114L5.58234 0.24261C5.59505 0.230669 5.60806 0.219103 5.62136 0.207926L5.52822 0.297114C5.57331 0.247368 5.62194 0.203864 5.67323 0.166604C5.69112 0.154361 5.70972 0.141863 5.72874 0.130086C5.7464 0.118398 5.76435 0.108142 5.78253 0.0985809C5.80047 0.0898573 5.81868 0.0810547 5.83718 0.0728941C5.86069 0.0618535 5.8848 0.052506 5.90917 0.0442952C5.92399 0.0399236 5.93917 0.0352635 5.9545 0.0310265C5.97919 0.0235785 6.00415 0.0178845 6.02925 0.0133372C6.04435 0.0112638 6.05914 0.00900281 6.07404 0.00713322C6.10242 0.00285255 6.13152 0.000683776 6.16065 2.67436e-05C6.16708 0.000628159 6.17329 0.000560282 6.17951 0.000560282Z" fill="#dc3545"/>
                 </svg>
             </div>
             <div class="bt-lbl">
             @T("Add to compare")
             </div>
         </b-row>
     </b-col>
 </b-row>
</b-container>