@model IList<ProductOverviewModel>
@inject DisplayOrderHomePage order
<div class="product-slider new-product order-@order.HomePageNewProducts">
    <h2 class="generalTitle text-center">@T("HomePage.BestOffers")</h2>
    <b-row class="product-slider">
        <b-col md="left" align-self="center">
            <img v-on:click="onprevslide2($refs.tmbcarouselbestof)" class="scroll-btn" width="40" height="100" src="/Themes/VueThemeBike/Content/images/ChevronLeft.svg" alt="" />
        </b-col>
        <b-col md="slider">
            <b-carousel ref="tmbcarouselbestof" id="">
                @{
                    var itemsPerSlide = 5;
                    var numSlides = Math.Ceiling((decimal)Model.Count / itemsPerSlide);
                    var imgNumber = 0;
                    @for (var slideNumber = 0; slideNumber < numSlides; slideNumber++)
                    {
                        var items = Model
                            .Skip(itemsPerSlide * slideNumber)
                            .Take(itemsPerSlide);

                        <b-carousel-slide class="pt-4 pb-4 pl-4 pr-4 product-card-carousel h-100">
                            <b-row slot="img" class="product-card-carousel h-100">
                                @foreach (var item in items)
                                {
                                    <b-col xl="@order.Np_Xl" lg="@order.Np_Lg" md="@order.Np_Md" sm="@order.Np_Sm" cols="@order.Np_Col" class="product-card-carousel h-100">
                                        <partial name="_ProductBoxCarousel" model="item" />
                                    </b-col>
                                    imgNumber++;
                                }
                            </b-row>
                        </b-carousel-slide>
                    }
                }

            </b-carousel>
        </b-col>
        <b-col md="right" align-self="center">
            <img v-on:click="onnextslide2($refs.tmbcarouselbestof)" class="scroll-btn" width="40" height="100" src="/Themes/VueThemeBike/Content/images/ChevronRight.svg" alt="" />
        </b-col>
    </b-row>
</div>