@model CustomerAdListModel
@inject IPageHeadBuilder pagebuilder
@{
    Layout = "_ColumnsTwo";

    //title
    pagebuilder.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Ads })
}
<div class="page account-page order-list-page pl-lg-3 pt-lg-0 pt-3">
    <h1 class="generalTitle h2">@T("Account.MyAds")</h1>
    @if (Model.Ads.Any())
    {
<div class="account-order">
    <input type="button" value="@T("Account.CustomerAds.AddNewAd")" class="btn btn-sm btn-info order-details-button" onclick="setLocation('@Url.RouteUrl("AdDetails")"/>
    <div class="product-review-list">
        @foreach (var ad in Model.Ads)
        {
            @*<div class="col-lg-4 col-md-6 col-12 mb-3">
                    <div class="card">
                        <h6 class="card-header">
                            <strong>
                                <span>
                                    @T("Account.CustomerAds.AdNumber"):
                                </span>
                                <span>
                                    @order.AdNumber
                                </span>
                            </strong>
                        </h6>
                        <div class="card-body small">
                            <ul class="info mb-0">
                                <li><span>@T("Account.CustomerAds.AdStatus"):</span> <span class="order-status @order.AdStatusEnum.ToString().ToLowerInvariant()">@order.AdStatus</span></li>
                                <li><span class="order-date"><span>@T("Account.CustomerAds.AdDate"):</span> <span>@order.CreatedOn.ToString()</span></span></li>
                                <li><span>@T("Account.CustomerAds.AdTotal"):</span> <span class="order-total">@order.AdTotal</span></li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="buttons">
                                <input type="button" value="@T("Account.CustomerAds.AdDetails")" class="btn btn-sm btn-info order-details-button" onclick="setLocation('@Url.RouteUrl("AdDetails", new { orderId = order.Id })')" />

                                @if (order.IsReturnRequestAllowed)
                                {
                                    <input type="button" value="@T("Account.CustomerAds.ReturnItems")" class="btn btn-sm btn-warning text-white return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = order.Id })')" />
                                }
                            </div>
                        </div>
                    </div>
                </div>*@

            <b-card header-tag="header" footer-tag="footer" class="ads-item mb-3">
                <template v-slot:header>
                    <div class="review-info d-inline-flex w-100">
                        <b-icon icon="calendar2-check" variant="info" class="mx-2"></b-icon>
                        <small class="date text-muted">
                            <span>@T("Account.CustomerAds.AdDate"):</span>
                            <span>@ad.CreatedOn.ToString("g")</span>
                        </small>
                    </div>
                </template>
                <div class="review-title mb-3">
                    <div class="user d-inline-flex align-items-center w-100">
                        <span>@T("Account.CustomerAds.AdStatus"):</span> <span class="ad-status @ad.AdStatusEnum.ToString().ToLowerInvariant()">@ad.AdStatus</span>
                        <span>@T("Account.CustomerAds.AdNumber"):</span> <span class="ad-number @ad.AdNumber.ToString().ToLowerInvariant()">@ad.AdNumber</span>
                    </div>
                </div>
                <div class="review-content">
                    <div class="review-text">
                        @Html.Raw(Grand.Core.Html.HtmlHelper.FormatText("текст обьявления"))
                    </div>
                </div>
                <template v-slot:footer>
                    <input type="button" value="@T("Account.CustomerAds.AdDetails")" class="btn btn-sm btn-info order-details-button" onclick="setLocation('@Url.RouteUrl("AdDetails", new { orderId = ad.Id })')" />
                    <input type="button" value="@T("Account.CustomerAds.AdCancle")" class="btn btn-sm btn-info order-details-button" onclick="setLocation('@Url.RouteUrl("AdCancel", new { orderId = ad.Id })')" />
                    <input type="button" value="@T("Account.CustomerAds.AdDelete")" class="btn btn-sm btn-info order-details-button" onclick="setLocation('@Url.RouteUrl("AdDelete", new { orderId = ad.Id })')" />
                    <input type="button" value="@T("Account.CustomerAds.AdMessages")" class="btn btn-sm btn-info order-details-button" onclick="setLocation('@Url.RouteUrl("AdMessages", new { orderId = ad.Id })')" />
                </template>
            </b-card>
        }
    </div>
</div>
    }
    else
    {
        <div class="no-data alert alert-info">
            @T("Account.CustomerAds.NoAds")
        </div>
    }
</div>